
html, body {
  
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
 
  
  color: #686868;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

    
a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.text{
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}
p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;

}/*#b3d4fc*/

/*Card Components*/
.btnl{
  margin-left: 40%; margin-top: 20px;width: 50%;
 }
.overlayText {
  position:absolute;
   top:30%;
   left:20%;
  
 }
.navbar
{
  width: 100%;
  position: fixed;
  box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 2;
}
.alert {
  height: 40px;
  width: 100%;
 
  background-color: #000;
}.alert  {
  
  text-align: center;
  text-decoration: none ;
  margin-top: 30px;
  color: #fff;
}
.home-img{
  width:600px;
  height:480px;
}
.btn{
  border:none ;
  color: #FFF;
 
}
.main_res{
  display: none;
  opacity: 0;
 
  visibility: hidden;

 }
 .card1{
   display: none;
   visibility: hidden;
   opacity: 0;
 }
 #this{
   display: none;
 }



.a-style
{
  color: #eb0808;
  text-decoration: underline;
}
  a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.btn-l{
 margin-left: 40%; margin-top: 20px;width: 50%;
}

.section-heading h6,.contact-us h6 {
  position: relative;
  font-size: 15px;
  color: #eb0808;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}

.section-heading h6:before,.contact-us h6:before  {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #eb0808;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px; 
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
}
.contact-us{
  margin-top: 100px;
 
}
#contact_us{
  
  background-image: url(./images/reservation-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
 
}
#products{
  background-image: url(./images/banner.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#service-01{
  background-image: url(./images/slider-01.jpg);
background-repeat: no-repeat;
background-size: cover;

}
#service-02{
  background-image: url(./images/blog_bg.jpg);
background-repeat: no-repeat;
background-size: cover;

}
#contact_us_form{
  background-image: url(./images/about-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  }
.service-blog{
  color: #FFF;
}
#service2{
  margin:50px 0px 0px 0px;
}
.jumbotron{
  background-color: #FFF;
}
.label-contact{
  color: #fff;

}
.contact-form1{
  margin:0px 100px 0px 100px;
}
.form-control{
  border-radius: 10px;
}

/* About Area Starts */

#about {
  margin-top: 20px;
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 9;
}

#about .section-heading h2 {
  padding-right: 120px;
}

#about img {
  width: 100%;
  overflow: hidden;
}

#about .left-text-content p {
  margin-bottom: 25px;
}

#about .right-content {
  margin-left: 30px;
}

#about .right-content .thumb {
  position: relative;
}

#about .right-content .thumb a {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
  background-color: #eb0808;
  color: #fff;
  border-radius: 50%;
  transform: translate(-35px, -35px);
  transition: all .3s;
}

#about .right-content .thumb a:hover {
  opacity: .9;
}
/* About Area Ends */



.row
{ margin-top: 20px;
  color: #000;
  
}
.col-sm{
  padding: 2px;
  
}
hr{
  border:solid #eb0808;
}

.card {
    overflow: hidden;
    position: absolute;
   
    z-index: 1;
    width:25rem;
    
    border: 1px solid #CCC;
    border-radius: 15px;
   box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
  /* box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

    text-align: center;
    padding: 0;
    background-color: #ccc;
    color: rgb(136, 172, 217);
  }
  .card:hover{
  box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
  }
  .card{
    color: #2a2a2a;
  
 
  border-radius: 15px;
    width: 25rem;;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  }
  .card:hover{
    transform: translateY(20px);}
    .card::before{
      opacity: 1;
    
      opacity: 1;
      transform: translateY(0px);}
  
  .card::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    display: block;
    width: 25rem;
    height: 100%;
    border-radius: 15px;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }



  
  .card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
                 /* background-image: url(./greets.jpg);
                  background-size: cover;
                 
                  height: 500px;*/
              }
              .btn{
                background-color: #eb0808
              }
              .btn:hover{
                background-color:#fff;
                color: #000;
              }
              .main{
                
               
               width: 80%;
               margin-left: auto;
               margin-right: auto;
             
             
              
                
              }

              .card-img-top{
                height: 500px;
               
              }
              
              
             
              .card .avatar {
                margin-top: 0%;
                position: absolute;
                margin-top: 15px;
              z-index: 2;
                float: right;
              }
              .card .avatar img {
                width: 100px;
                height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 3px solid rgba(0,0,30,0.7);
              }
              /*.card-body{
                  background-color: #eb0808;
                  
                  bottom: 0;
                  
                  
                  
              }
              .card-body:hover{
                background-color: #eb0808;
                height: 100%;
                opacity: 0.6;
                
                
                
            }*/


            .overlay
{
	width:100%;
	height: 100%;
	position: absolute;
	top:0;	
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#eb0808);
	opacity: 0;
	transform: .4s;
}
.card:hover .overlay{
	opacity: 1;
}
.card-body
{
  width: 100%;
	position :absolute;
	bottom: 0;
	left:50%;
	opacity: 1;
	transform: translateX(-50%);
	transition: 1s;
 
  
}
hr{
	background: #fff;
	height: 2px;
	border:0;
	margin:15px auto;
	width:60%;
}
.card-body p{
  text-align: left;

  font-size: 14px;
	color: #fff;
}
.card-body-a{
 margin-left: 0p;
}
.card-body.btn {
  margin-left: 0%;
  
}
.btn-primary{
  float: left;
  margin-right: 2%;
  
}
.card:hover .card-body{
	bottom: 40%;
	opacity: 1;
}


/*new card*/


.card-rev {
  overflow: hidden;
  position: relative;
  width: 25rem;
  
  
  border: 1px solid #CCC;
  border-radius: 15px;
 box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.5);
/* box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

  text-align: center;
  padding: 0;
  background-color: #ccc;
  color: rgb(136, 172, 217);
}
.card-rev:hover{
box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-rev{
  color: #2a2a2a;
  height: 250px;

border-radius: 15px;
  
position: relative;
display: flex;
align-items: flex-end;
transition: 0.4s ease-out;
box-shadow: 0px 7px 10px rgba(black, 0.5);
}
.card-rev:hover{
  transform: translateY(-20px);}
  .card-rev::before{
    opacity: 1;
  
    opacity: 1;
    transform: translateY(0px);}

.card-rev::before{
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  display: block;
  width: 25rem;
  height: 100%;
  border-radius: 15px;
  background: rgba(black, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}




.card-rev .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
               /* background-image: url(./greets.jpg);
                background-size: cover;
               
                height: 500px;*/
            }
            .btn{
              background-color: #eb0808
            }
            .btn:hover{
              background-color:#fff;
              color: #000;
            }
            .main{
              
             
             width: 80%;
             margin-left: auto;
             margin-right: auto;
        
            }
            

            .card-rev-img-top{
              height: 500px;
             
            }
            
            

            .card-rev .avatar {
              position: relative;
              margin-top: 15px;
              z-index: 100;
            }
            .card-rev .avatar img {
              width: 100px;
              height: 100px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              border: 5px solid rgba(0,0,30,0.8);
            }
            /*.card-rev-body{
                background-color: #eb0808;
                
                bottom: 0;
                
                
                
            }
            .card-rev-body:hover{
              background-color: #eb0808;
              height: 100%;
              opacity: 0.6;
              
              
              
          }*/


          .overlay
{
width:100%;
height: 100%;
position: absolute;
top:0;	
border-radius: 7px;
cursor: pointer;
background: linear-gradient(rgba(0,0,0,0.5),#eb0808);
opacity: 0;
transform: .4s;
}
.card-rev:hover .overlay{
opacity: 1;
}
.card-rev-body
{
width: 100%;
position :absolute;
bottom: 0;
left:50%;
opacity: 0;
transform: translateX(-50%);
transition: 1s;
}
hr{
background: #fff;
height: 2px;
border:0;
margin:15px auto;
width:60%;
}
.card-rev-body p{
text-align: left;

font-size: 14px;
color: #fff;
}
.card-rev-body-a{
margin-left: 0;
}
.card-rev-body.btn {
float: left;
}
.card-rev:hover .card-rev-body{
bottom: 40%;
opacity: 1;
}



    /*--Services*/
    #service {
		width:100%;
		padding:70px 0;
		background:#efefef;
}

.service-box{
	width:80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:auto;
}
 .card{
	flex-basis:48%;
	text-align:center;
	border-radius:7px;
	margin-bottom:20px;
	color:#fff;
	position: relative;
}
 .card img{
width: 100%;
border-radius: 7px;
}
.overlay
{
	width:100%;
	height: 100%;
	position: absolute;
	top:0;	
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#eb0808);
	opacity:0;
	transform: 1s;
}
 .card:hover .overlay{
	opacity: 1;
}
 .card-body
{
	width:80%;
	position :absolute;
	bottom: 0;
	left:50%;
	opacity: 1;
	transform: translateX(-50%);
	transition: 1s;
}
hr{
	background: #fff;
	height: 2px;
	border:0;
	margin:15px auto;
	width:60%;
}
 .card-body p{
	font-size: 14px;
	color: #fff;
}
 .card:hover  .card-body{
	bottom: 40%;
	opacity: 1;
}

.btnl{
  margin-left: 0%; margin-top: 0px;width: 50%;
  display: inline;
}
  .btn {
  line-height: 1;
 }

    /*--Services*/
    #service {
		width:100%;
		padding:70px 0;
		background:#fff;
}

.service-box{
	width:80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:auto;
}
 .card{
   width: 15rem;
	flex-basis:48%;
  width: 20rem;
  
	text-align:center;
	border-radius:7px;
	margin-bottom:20px;
	color:#fff;
	position: relative;
}
 .card img{
width: 100%;
border-radius: 7px;
}
.overlay
{
	width:100%;
	height: 100%;
	position: absolute;
	top:0;	
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#eb0808);
	opacity: 0;
	transform: 1s;
}
 .card:hover .overlay{
	opacity: 1;
}
 .card-body,.card-heading
{
	width:80%;
	position :absolute;
	bottom: 0;
	left:50%;
	opacity: 1;
	transform: translateX(-50%);
	transition: 1s;
}
.card-heading{
  margin-top: 50px;
  margin-left: -100px;
  top:0;
  height: 2px;
 
}
.card:hover .card-heading{
  margin-left: -300px;
}

hr{
	background: #fff;
	height: 2px;
	border:0;
	margin:15px auto;
	width:100%;
}
 .card-body p{
	font-size: 14px;
	color: #fff;
}
 .card:hover  .card-body{
	bottom: 40%;
	opacity: 1;
}
.card-rev{
  color: #2a2a2a;

border-radius: 15px;
  width: 20rem;
position: relative;
display: flex;
align-items: flex-end;
transition: 0.4s ease-out;
box-shadow: 0px 7px 10px rgba(black, 0.5);
}





  
  
               /* 
---------------------------------------------
reservation
--------------------------------------------- 
*/

#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  color: #fff;
}

#reservation .section-heading h2 {
  color: #fff;
  font-weight: 700;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

#reservation {
  margin-top: 120px;
  padding: 120px 0px;
  background-image: url(./images/reservation-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reservation .phone,
#reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#reservation .phone i,
#reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #eb0808;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#reservation .phone h4,
#reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#reservation .phone span a,
#reservation .message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all .3s;
}

#reservation .phone span a:hover,
#reservation .message span a:hover {
  color: #eb0808;
}

#contact {
  margin-left: 30px;
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #2a2a2a;
  margin-bottom: 30px;
}

.datepicker-days {
  padding: 30px;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #2a2a2a;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #eb0808;
}

.contact-form button {
  margin-top: -10px;
  font-size: 13px;
  color: #fff;
  background-color: #eb0808;
  padding: 12px 25px;
  width: 100%;
  box-shadow: none;
  border: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.contact-form button:hover {
  opacity: .9;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.contact-form ::placeholder {
  color: #2a2a2a;
}

.jumbotron h6{
  position: relative;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}
.jumbotron h6:before  {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #fff;
}



            
footer {
  margin-top: 60px;
  padding: 50px 0px;
  background-color: #eb0808;
}

footer .left-text-content p {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}

footer .right-text-content p {
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
  text-transform: uppercase;
}


footer .right-text-content {
  text-align: left;
  margin-top: 10px;
}

footer .logo {
  text-align: center;
}

footer .right-text-content ul li {
  display: inline-block;
  margin-left: 15px;
}
footer .right-text-content ul li:first-child {
  margin-left: 0px;
}


footer .right-text-content ul li a {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #eb0808;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

footer .right-text-content ul li a:hover {
  color: #2a2a2a;
}
.logo{
  font-family:'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
  color: #fff;
}
.logo-1{
  font-family:'Dancing Script', cursive;
  font-size: 16px;
  text-align: center;
  color: #0000;

}
/*-------------Responsive 
                          --------*/
                        
@media only screen and (max-width:570px)
              {
                .title-texth1{
                  font-size:35px;
                }
                .features{
                  flex-basis: 100%;
                }
                
                .features-img{
                  flex-basis: 100%;
                }
                .features-img img{
                  width:100%;
                }
}
@media only screen and (max-width: 600px) {
  video{
    width: 50%;}
    #contact_us{
      margin: 0px 0px 0px 0px;}
      
    
  }
  
@media only screen and (max-width:770px)
{
	 .card{
		flex-basis: 100%;
		margin-bottom: 30px;

	}
 
	 .card-body p{
		font-size: 12px;
	}
	hr{
		margin:5px auto;
	}
	 .card:hover  .card-body{
		bottom: 25% !important;
	}
}




@media only screen and (max-width:770px)
{
  .home-img{
    width:80px;
    height:280px;
  }
 
	.title-texth1{
		font-size:35px;
	}
	.features{
		flex-basis: 100%;
	}
	
	.features-img{
		flex-basis: 100%;
	}
	.features-img img{
		width:100%;
	}
}
 
@media only screen and (max-width:770px)
{
	 .card{
		flex-basis: 100%;
		margin-bottom: 30px;
    

	}
	 .card-body p{
		font-size: 12px;
	}
	hr{
		margin:5px auto;
	}
  
  .navbar{
    width: 100%;
  }
  .vid{
    width: 100%;
  }
	 .card:hover  .card-body{
		bottom: 25% !important;
	}
   .card-rev{
    margin-top: 0px;
    width: 15rem;
    
    height:250px;
  }
  .card-rev-body
  {
    margin-left:10px;
  width: 100%;

  position :absolute;
  bottom: 0;
  left:48%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
  }
  
  

  }
  @media (max-width: 992px) {
    #top {
      padding-top: 100px;
      height: auto;
    }
    .header-area .main-nav .nav li.submenu:after {
      right: 3px;
    }
    .header-area .main-nav .nav li.submenu {
      padding-right: 15px;
    }
    .header-area .main-nav .nav li {
      padding-right: 5px;
      padding-left: 5px;
    }
    .header-area .main-nav .nav li a {
      font-size: 14px;
      letter-spacing: 0px;
    }
    #top .left-content {
      text-align: center;
      padding: 25% 0px;
    }
    #about .right-content {
      margin-left: 0px;
      margin-top: 30px;
    }
    #service .chef-item {
      margin-bottom: 30px;
    }
    #reservation .phone {
      margin-bottom: 60px;
    }
    #contact {
      margin-left: 0px;
      margin-top: 30px;
    }
    #offers .tabs-content .left-list {
      margin-right: 0px;
    }
  
    #offers .tabs-content .right-list {
      margin-left: 0px;
    }
    footer .right-text-content {
      text-align: center;
      margin-bottom: 30px;
    }
    footer .left-text-content p {
      text-align: center;
      margin-top: 30px;
    }
  }
  
  
  
  
  
  #preloader {
    overflow: hidden;
    background-color: #eb0808;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  .logo{
    font-family:'Dancing Script', cursive;
    font-size: 25px;
    text-align: center;
    color: #fff;
  }
  .logo-1{
    font-family:'Dancing Script', cursive;
    font-size: 16px;
    text-align: center;
    color: #0000;
  
  }
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  